.background-Login {
    background-image: url("/public/images/loginImg.png");
    background-size: cover;
    background-position: center center;
}
.background-ShelterRegistration{
    background-image: url("/public/images/ShelterRigistrationImg.png");
    background-size: cover;
    background-position: bottom center;
}

/* Stile per i suggerimenti di base */
.suggestion-item {
     
    background-color: #ffffff; /* Sfondo bianco per suggerimenti non attivi */
    color: #000000; /* Testo nero */
     
    border: 1px solid #dddddd; /* Bordo leggero */
    
}

/* Stile per i suggerimenti attivi/evidenziati */
.suggestion-item--active {
    background-color: #f0f0f0; /* Sfondo grigio chiaro per suggerimenti attivi */
    color: #000000; /* Testo nero, può essere cambiato se necessario */
    font-weight: bold; /* Rende il testo in grassetto */
    border: 1px solid #cccccc; /* Bordo un po' più scuro */
    cursor: pointer; /* Cambia il cursore in una mano per indicare la possibilità di cliccare */
}

/* Puoi anche aggiungere effetti al passaggio del mouse, se lo desideri */
.suggestion-item:hover {
    background-color: #e9e9e9; /* Cambia lo sfondo quando il mouse passa sopra */
    
}
